/*
=============================
GLOBAL STYLE
=============================
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;
	background: #fff;
}
  
/* Track */
body::-webkit-scrollbar-track {
    box-shadow: 0 0 .6rem rgba(255, 255, 255, 1); 
    border-radius: 2rem;
    background: #e9e7e7;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgba(242, 126, 99, 0.5);
    border-radius: 2rem;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgba(242, 126, 99, 1); 
}
/*
=============================
COMMON STYLING
=============================
*/
:root{
	--h-size: 3em;
	--letter-spacing: 2px;
	--padding: 30px 0px;
	--line-height: 55px;
	--line-height2: 30px;
	--bg-play-icon: rgba(77, 140, 183,0.5);
}
a{
	text-decoration: none;
	display: inline-block;
	outline: none;
}
.text-white-color{
	color: #fff;
}
li.text-blue-color{
	color: #1369A2;
}
.font-weight{
	font-weight: normal;
}
.line-height{
	line-height: 46px;
}
.border-right{
	border-right: 2px solid black; 
}
.border-radius{
	border-radius: 20px;
}
.lettter-spacing{
	letter-spacing: 2px;
}
.padding-top{
	padding-top: 30px; 
}
/**/
.font-size{
	font-size: 2.3em;
}
.padding-top-bottom{
	padding: 20px 0px 20px 0px;
}
/**/
.font-size5{
	font-size: 5em;
}
.text-align-justify{
	text-align: justify;
}

/*
=====================================================
COMMON CONTAINER (DISCRIPTION)( 6 )( 5 )( footer )
=====================================================
*/
.container{
	max-width: 900px;
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}
/*
=============================
HEADER Section
=============================
*/
header{
	width: 100%;
	background: url(image/beach-clouds-dawn-1370725.jpg) no-repeat center / cover;

}
.active-header{
	position: fixed;
	top: 0;
	background-color: rgba(77, 140, 183,0.6);
	border-bottom: .1rem solid #ab9dfc;
	z-index: 1000;
	margin-top: 0 !important;
	-webkit-box-shadow: 0px 1px 10px hsla(249, 100%, 65%, .8);
    -moz-box-shadow: 0px 1px 10px hsla(249, 100%, 65%, .8);
    box-shadow: 0px 1px 10px hsla(249, 100%, 65%, .8);
}
.active-header .nav-container{
	height: 85px !important;
	transition: height .5s ease;
}
header a{
	text-decoration: none;
	display: inline-block;
}
.container-header{
	max-width: 900px;
	margin: auto;
}
.container-header.search_open .hd-burger,
.container-header.search_open .hd-logo{
	display: none;
}
.main-header-contant{
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header__nav{
	width: 100%;
	margin-top: 1rem;
}
nav .nav-container{
	margin: auto;
	width: 100%;
	height: 95px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	transition: height .3s ease;
}

.main-header-contant nav .hd-burger{
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}

nav .hd-burger i{
	font-size: 1.5rem;
	transition: 0.4s linear;
}
nav .hd-burger i:hover{
	transform: scale(1.2);
}

nav .hd-logo img{
	width: 55px;
}


.main-header-contant nav .hd-logo{
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-header-contant nav .hd-searchbar{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}

nav .hd-searchbar i{
	transition: all .5s linear;
}

nav .hd-searchbar i:hover{
	transform: scale(1.2);
}


/* search box */

.search-box{
	height: 50px;
	width: 50px;
	position: relative;
	transition: all .5s ease;
}
/* For Mobile */
@media (max-width:500px){

	.search-box{
		height: 25px !important;
		width: 25px !important;
	}
	.search-box input{
		font-size: .6rem !important;
		padding: .7em .5em .7em .7em !important;
	}
	
	.search-box.active{
		/* width: 8rem !important; */
	}
	.search-box .search-btn{
		height: 25px !important;
		width: 25px !important;
		line-height: 25px !important;
		font-size: 1rem !important;
	}

	.search-box .search-btn.active{
		right: 3px !important;
		height: 20px !important;
		width: 20px !important;
		line-height: 20px !important;
		font-size: .6rem !important;
	}
	.search-box .cancel-btn.active {
		right: -1.1rem !important;
	}
	.search-box .cancel-btn {
		font-size: 12px !important;
	}
	.search-box .search-data {
		font-size: .5rem !important;
	}
}

.search-box{
	z-index: 1000;
}

.search-box.active{
	width: 100%;
}
.search-box input{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: #fff;
	color: #1369A2;
	font-size: 1rem;
	border-radius: 50px;
	padding: 1em 3.2em 1em 1.5em;
	opacity: 0;
	letter-spacing: .1em;
}
.search-box input:focus{
	color: black;
}
.search-box input.active{
	opacity: 1;
}
.search-box .search-btn{
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	color: #fff;	
	line-height: 50px;
	text-align: center;
	border-radius: 50px;
	font-size: 1.4rem;
	cursor: pointer;
	transition: all 0.5s linear;
	z-index: 1;
}
.search-box .search-btn.active{
	right: 5px;
	height: 40px;
	width: 40px;
	background-color: #664AFF;
	color: #fff;
	line-height: 40px;
	font-size: 1.2rem;
	transform: translateY(-50%) rotate(360deg);	
}
.search-box .cancel-btn{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	opacity: 0;
	transition: all .5s 0.2s linear
}

.search-box .cancel-btn.active{
	opacity: 1;
	right: -2.2rem;
	transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data{
	text-align: center;
	padding-top: 2em;
	color: #fff;
	font-size: .9rem;
	word-wrap: break-word;
}

.search-box .search-data.active{
	display: none;
}
/* search items */
.search_item_main{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(77, 140, 183,0.95);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: 0s ease;
}
.search_item_main.search_open{
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	z-index: 999;
	transition: .3s ease;
}
.search_list{
	display: flex;
	flex-direction: column;
}
.search_list{
	margin-top: 130px;
	max-height: 78vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.search_list .search_item{
	padding-top: .9em;
	opacity: 0;
	transform: translateY(5rem);
	transition: transform .2s, opacity .3s;
	transition-delay: calc(.05s * var(--i));
}
.search_list .search_item + .search_item{
	margin-top: 1em;
	border-top: 1px solid #1369A2;
}
.search_list .search_item h2{
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: .8rem;
}
.search_list .search_item p{
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: .3rem;
	line-height: 1.3;
}
.search_item_main.search_open .search_item{
	transform: translateY(0rem);
	opacity: 1;
}
/* seacrhbar end */
.Child2{
	width: 70%;
	height: 350px;
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
}
.Child2 .find_link a{
  display: flex;
  align-items: center;
  
}
.Child2 .find_link a i {
	transition: transform .2s;
}
.Child2 .find_link a:hover i {
	transform: translateX(.5rem);
}
.Child2 > :nth-child(1){
	display: flex;
	align-items: flex-end;
	font-size: 1.5rem;
}
.Child2 > :nth-child(1) i{
	font-size: 30px;
}
.Child2 > :nth-child(1) img{
	width: 40px;
}
.Child2 > :nth-child(2){
	align-self: flex-end;
	margin-bottom: 35px;
}
.Child2 > :nth-child(2) ul{
	list-style: none;
	background: #fff;
	border-radius: 20px;
}
.Child2 > :nth-child(2) ul li{
	margin: 15px 0px 15px 0px;
}
.Child2 > :nth-child(2) ul li a i{
	font-size: 23px;
	transition: 0.2s linear;
}
.Child2 > :nth-child(2) ul li a i:hover{
	transform: scale(1.2);
}
.Child2 > :nth-child(2) ul li a{
	padding: 8px 8px;
}

/* Start */
.main__sidebar{
	position: fixed;
	background: rgba(0, 0, 0, 0.75);
    width: 100%;
	height: 100%;
	transition: all .2s linear;
	
	visibility: hidden;
	opacity: 0;
}
.main__sidebar.active{
	visibility: visible;
	opacity: 1;
	z-index: 1000000;
}

.main__sidebar .sidebar{
	width: 70%;
	height: 100%;
	position: fixed;
	left: -200px;
	transition: left .2s linear;
    background-color: #1369A2;
    list-style: none;
    display: flex;
	flex-direction: column;
	padding: 1.2em 0;
}

.main__sidebar .sidebar.active{
	left: 0;
}

.main__sidebar .sidebar li a{
	font-size: 1.3rem;
	padding: 1.5em 0;
	text-align: center;
	display: block;
	color: #fff;
	font-weight: 700;
	transition: all .2s linear;
	position: relative;
	
}

.main__sidebar .sidebar li a:hover,
.main__sidebar .sidebar li a:focus{
	background-color: rgb(14, 77, 119);
	font-size: 1.5rem;
}

.main__sidebar .sidebar li a:hover::after,
.main__sidebar .sidebar li a:focus::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 1em solid  #fff;
}
/* End */


/*
=============================
DESCRIPTION
=============================
*/
#Desciption{
	width: 100%;
}
#Desciption .contant{
	width: 700px;
	height: 700px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
#Desciption .contant h1{
	font-size: var(--h-size);
	padding: var(--padding);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
}
#Desciption .contant h4{
	line-height: var(--line-height2);
	margin-top: 10px;
	padding: 0px 75px 0px 75px;
}

/*
=============================
THIRD SECTION
=============================
*/
#main-3{
	width: 100%;
	background: #fff;
}
.container3{
	margin: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bg-img1{
	width: 100%;
	height: 450px;
	background: url('image/matt-le-SJSpo9hQf7s-unsplash.jpg');
	background-size: cover;
	background-position: bottom;
	clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
}
#Cards{
	max-width: 1400px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	
}
.card{
	width: 33%;
	/* height: 240px; */
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 2px;
}
#Cards .card i{
	transition: 0.2s linear;
	color: black;
}
#Cards .card i:hover{
	transform: scale(1.2);
}
/*
=============================
FOURTH SECTION
=============================
*/
#Slider{
	position: relative;
}
.main-4{
	width: 100%;
	background-size: cover;
}
#Slider > :nth-child(1){
	background-image: url(image/clay-banks-LjqARJaJotc-unsplash.jpg);
}
#Slider > :nth-child(2){
	background-image: url(./image/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg);
}
#Slider > :nth-child(3){
	background-image: url(./image/mesut-kaya-eOcyhe5-9sQ-unsplash.jpg);
}

.gradient{
	background-color: rgba(77, 140, 183,0.5);
	width: 100%;
}
.container4{
	margin: auto;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}
.contant-main{
	width: 100%;
	height: 230px;
	background: #1369A2;
	align-items: center;
	display: flex;
	justify-content: center;
}
.contant-main .contant{
	width: 900px;
}
.contant-main .contant h1{
	padding-bottom: 30px;
}
.contant-main .contant h2{
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.contant-main .contant a h2 i{
	font-size: 20px;
	pointer-events: none;
}
#Dots{
	position: absolute;
	bottom: 5%;
	display: flex;
	width: 100%;
	justify-content: center;
}
.dot{
	width: 20px;
	height: 20px;	
	border-radius: 50%;
	background-color: #c5bfec;
	margin: 10px;
	cursor: pointer;
	border: 2px solid #c5bfec;
	transition: .4s ease;
}
.dot.active{
	border: 2px solid #fff;
	background-color: transparent;
}

/*
=============================
FIFTH SECTION
=============================
*/

#main-5{
	width: 100%;
}
.main-contant-5{
	min-height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#Card .card1{
	position: relative;
	height: 330px;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Card .card1 img{
	display: inline-block;
	width: 390px;
	height: 240px;
	transition: .3s ease;
}
#Card .card1 img:hover{
	z-index:4;
	opacity: 1 !important;
}
#Card .card1:hover img{
	opacity: 0.8;
}

#Card .card1 > :nth-child(1){
	position: absolute;
	left: 13%;
	top: 0;
	z-index: 3;
}
#Card .card1 > :nth-child(2){
	position: absolute;
	right: 0;
	top: 28%;
	z-index: 2;
	width: 340px;
	height: 200px;
	opacity: 0.8;
}
#Card .card1 > :nth-child(3){
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 340px;
	height: 200px;
}

#Card .card2{
	height: 330px;
	width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
}
.row{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 300px;
}
.row > :nth-child(1){
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.row input{
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 2px solid black;
	color: #808080;
	width: 300px;
}
.row :focus{
	outline: none;
}
.row a{
	background: #1168A1;
	padding: 12px 30px 12px 30px;
	transition: 0.4s;
	width: 163px;
	font-size: 15px;
}
.row a:hover{
	background: #fff;
	color: #1369A2;
	border-radius: 20px;
	border: 1.5px solid #1369A2;
	transform: scale(1.1);
}
/*
=============================
Videos SECTION
=============================
*/
#Videos-Section{
	width: 100%;
}
.First-video{
	height: 450px;
	background: url(image/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg) no-repeat center /cover;
	display: flex;
	padding: 44px 76px;
	justify-content: center;
}
.First-video .contant{
	height: 180px;
	width: 480px;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.First-video .contant > :nth-child(1){
	align-self: center;
}
.First-video .contant > :nth-child(1) a{
	padding: 15px 55px 15px 55px;
	background: var(--bg-play-icon);
}
.First-video .contant > :nth-child(1) i{
	transition: 0.2s linear;
}
.First-video .contant > :nth-child(1) i:hover{
	transform: scale(1.2);
	color: #1369A2;
}
.First-video .contant > :nth-child(2){
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-between;
}
.First-video .contant > :nth-child(2) > :nth-child(1){
	width: 260px;
	align-items: flex-end;
}
.First-video .contant > :nth-child(2) > :nth-child(2) ul{
	display: flex;
	list-style: none;
	background: #fff;
}
.First-video .contant > :nth-child(2) > :nth-child(2) ul li{
	margin:8px 13px;
}
.First-video .contant > :nth-child(2) > :nth-child(2) ul li a{
 	text-align: center;
	display: flex;
}
.First-video .contant > :nth-child(2) > :nth-child(2) i{
	transition: 0.5s linear;
	font-size: 20px;
}
.First-video .contant > :nth-child(2) > :nth-child(2) i:hover{
	transform: scale(1.2);
}
.Second-Third-video{
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 45px 0px 45px 0px;
}
.Second-Third-video i{
	font-size: 18px;
	transition: 0.2s linear
}
.Second-Third-video i:hover{
	transform: scale(1.2);
	color: #1369A2;
}
.Second-Third-video .card1{
	width: 35%;
}
.Second-Third-video .card1 > :nth-child(1){
	background: url(image/clay-banks-LjqARJaJotc-unsplash.jpg) no-repeat center /cover;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Second-Third-video .card1 > :nth-child(1) a{
	padding: 10px 30px 10px 30px;
	background: var(--bg-play-icon);
}
.Second-Third-video .card2{
	width: 55%;
}
.Second-Third-video .card2 > :nth-child(1){
	background: url('image/my-life-through-a-lens-bq31L0jQAjU-unsplash.jpg') no-repeat center /cover;
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Second-Third-video .card2 > :nth-child(1) a{
	padding: 10px 30px 10px 30px;
	background: var(--bg-play-icon);
}

/* Trailer */

/* Video Section Styling */
.trailer1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}

.trailer1.active{
    visibility: visible;
    opacity: 1;
}
.trailer2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}

.trailer2.active{
    visibility: visible;
    opacity: 1;
}
.trailer3{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}

.trailer3.active{
    visibility: visible;
    opacity: 1;
}

.close{
    position: absolute;
    top: 8%;
    right: 8%;
	color: #fff;
	font-size: 2rem;
	transition: all .5s linear;
}

.close:hover,
.close:focus{
	transform: rotate(90);
	transform: scale(1.2);
}

.iframe-container{
	height: 300px;
    width: 800px;
}

@media (max-width:768px){
	.iframe-container{
		width: 80% !important;
	}

}

.iframe-container iframe{
	width: 100%;
	height: 100%;
}
/*
=============================
FOOTER
=============================
*/
footer{
	width: 100%;
	background: #1369A2;
}
.row1{
	padding: 90px 0px; 
	text-align: center;
}
.row1 > :nth-child(2){
	padding: 30px 0px;
}
.row1 ul{
	display: flex;
	list-style: none;
	margin-left: 160px;
	padding-top: 45px;
	height: 110px;
}
.row1 ul li{
	margin: 20px;	
}
.row1 ul li a{
	padding: 10px 50px;
	background: #fff;
	transition: 0.3s linear;
}
.row1 ul li a:hover{
	background: #1369A2;
	border-radius: 20px;
	border: 1px solid #fff;
	color: #fff;
	transform: scale(1.2);
}
.row2{
	min-height: 70px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.row2 h4{
	line-height: 23px;
}
.row3{
	
	padding: 75px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:initial;	
}
.row3 .nav{
	min-height: 63px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
}
.row3 .nav ul{
	display: flex;
	list-style: none;
	flex-direction: column;
}
.row3 .nav ul li{
	margin-right: 75px;
	margin-bottom: 33px;
}
.row3 .icons ul{
	list-style: none;
	background: #fff;
	margin-bottom: 20px;
	text-align: center;
}
.row3 .icons ul li a{
	padding: 8px 4px;
}
.row3 .icons ul li a i{
	font-size: 18px;
	transition: 0.2s linear;
}
.row3 .icons ul li a i:hover{
	transform: scale(1.2);
}
.row4{
	text-align: center;
	padding: 80px 50px 50px 50px;
	display: flex;
}
/* signup */
#sec8{
	display: flex;
	flex-direction: column;
	background-color: #1369A2;
  background-image:linear-gradient(-25deg, rgba(255, 255, 255, 1) 0 50%, rgba(19, 105, 162,1) 50% 100%);
	justify-content: center;
	align-items: center;
	height: 100vh;
	z-index: 99999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#sec8 .login{
	height: 500px !important;
}
#sec8 .sign_Up{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 400px;
	height: 400px;
	-webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px black;
	border-radius: 5px;
}
#sec8 .sign_Up .sign-h3{
	width: 100% !important;
	font-size: 25px;
}
#sec8 .sign_Up .sign-h3 h3{
  padding: 0px 0 10px 0 ;
	font-size: 25px;
}
#sec8 .sign_Up .sign{
	height: 50px;
	border-bottom: 1px solid rgb(212, 212, 212);
	width: 80%;
	text-align: center;
	position: relative;
}
#sec8 .sign_Up .sign input{
	border: 0;
	outline: none;
	width: 100%;
	font-size: 18px;
	padding: 20px 0 0px 0;
	height: 48px;
}

#sec8 .sign_Up .mail label,
#sec8 .sign_Up .pass label{
	position: absolute;
	left: 0;
	top:25px;
}
#sec8 .sign_Up input:focus + label{
  top: 5px;
	left: -2px;
	transition: all .4s ease;
}
#sec8 .sign_Up input:not(:focus):valid + label {
	top: 5px;
	left: -2px;
}
#sec8 .sign_Up .sign label{
 font-size: 12px;
}
#sec8 .sign_Up .f-p,#sec8 .sign_Up .s-b,
#sec8 .sign_Up .s-i-w,#sec8 .sign_Up  .s-icons
{
	border-bottom:none;
}
#sec8 .sign_Up .f-p{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#sec8 .sign_Up .f-p label{
	font-size: 10px;
	color: #1369A2;
	cursor: pointer;
}
#sec8 .sign_Up .s-i-w{
	display: flex;
	justify-content: center;
}
#sec8 .sign_Up .signUp_btn{
	padding: 10px 50px;
	background: #fff;
	transition: 0.3s linear;
	border-radius: 20px;
	border: 1px solid #1369A2;
	color: #1369A2;
	width: 100%;
	display: inline-block;
}
#sec8 .sign_Up .signUp_btn:hover{
 background: #1369A2;
 border: 1px solid #fff;
 color: #fff !important;
 transform: scale(1.1);
}
#sec8 .sign_Up button{
	border: none;
	background-color:transparent;
	width: 100%;
}
#sec8 .sign_Up .s-i-w label{
	margin: 0 auto;
}
#sec8 .sign_Up .s-icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#sec8 .sign_Up .s-icons .facebook,
#sec8 .sign_Up .s-icons .twitter,
#sec8 .sign_Up .s-icons .google
{
	border-radius: 25px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#sec8 .sign_Up .s-icons .facebook i,
#sec8 .sign_Up .s-icons .twitter i,
#sec8 .sign_Up .s-icons .google i
{
	font-size: 20px;
	margin: 9px 0;
}
#sec8 .sign_Up .s-icons .facebook{
	background-color: #fff;
	border: 1px solid #1369A2;
	color: #1369A2;
}
#sec8 .sign_Up .s-icons .facebook:hover{
	background-color: #1369A2;
	color: #fff;
	transition: all 0.4s;
}
#sec8 .sign_Up .s-icons .twitter{
	background-color: #fff;
	border: 1px solid #9400D3;
	color: #9400D3;
	margin: 0 20px;
}
#sec8 .sign_Up .s-icons .twitter:hover{
	background-color: #9400D3;
	color: #fff;
	transition: all 0.4s;
}
#sec8 .sign_Up .s-icons .google{
	background-color: #fff;
	border: 1px solid #a81c46;
	color: #a81c46;
}
#sec8 .sign_Up .s-icons .google:hover{
	background-color: #a81c46;
	color: #fff;
	transition: all 0.4s;
}

